@model CategoryVM
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>Kategori ID</th>
                    <th>Kategori Ismi</th>
                    <th>Kategori Acıklaması</th>
                    <th class="hidden-phone">Durum</th>
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Guncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category item in Model.Categories)
                {
                    <tr class="gradeX">
                        <td>@item.ID</td>
                        <td>@item.CategoryName</td>
                        <td>
                            @item.Description
                        </td>
                        <td class="hidden-phone">@item.Status</td>
                        <td class="center hidden-phone">@Html.ActionLink("Sil","DeleteCategory",new { id=item.ID},new { @class="btn btn-danger"})</td>
                        <td class="center hidden-phone">@Html.ActionLink("Guncelle","UpdateCategory",new { id=item.ID},new { @class="btn btn-warning"})</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<script src="~/Areas/Admin/AdminContent/CategoryDTJs.js"></script>